---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.header-image {
    vertical-align: middle;
    width: 20%;
}

.header-text h1, .header-text h2 {
    font-family: {{ site.header_fonts }};
}
    
.header-text {
    width: 70%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
 }
